{{#each posts as |post|}}
  <div
    class="w-11/12 mx-auto my-4 bg-gray-100 shadow-lg rounded overflow-hidden border-gray-800 border"
  >
    <div
      class="flex items-center justify-between px-4 py-2 bg-gray-800 text-white"
    >
      <h2 class="font-bold">{{{post.title}}}</h2>
      <h2 class="font-light italic">Posted by
        {{{post.user.email}}}
        on
        {{formatDate post.date format="MM/DD/YYYY"}}
      </h2>
    </div>
    <div class="px-4 py-4 bg-white">
      <p>{{post.content}}</p>
      <div class="flex justify-end">
        <button class="rounded ml-2 p-1 bg-gray-800 text-white">Comment</button>
        <button class="rounded ml-2 p-1 bg-gray-800 text-white">Edit</button>
      </div>
    </div>
  </div>
{{/each}}